{% extends 'base.html.twig' %}

{% block title %}Page produit{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="mt-4">Votre produit actuel</h3>
        <div class="card mb-12 mt-5">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/uploads/images/{{product.image}}" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title text-primary">{{ product.name }}</h1>
                        <p class="card-text">{{ product.description }} </p>
                        <h3>{{ product.price }} €</h3>
                        <a {#href="{{ path('',{'id':product.id}) }}"#} class="btn btn-outline-primary">Ajouter au panier</a>
                        <a href="{{ path('app_home_page') }}" class="btn btn-outline-success">Retour à la page d'accueil</a>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Dernier produits ajoutés</h3>
         <div class="row">
            {% for product in products %}
                <div class="col-md-3 mt-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ asset('uploads/images/'~product.image)}}" class="imgproduct card-img-top" alt="image des produits">
                        <div class="card-body">
                            <a class="titleProductLink" href="{{ path('app_home_product_show',{'id':product.id}) }} "><h5 class="card-title titleProduct">{{ product.name }}</h5></a>
                            <p class="card-text">{{ product.description|slice(0,60) }}...</p>
                            <h3>{{ product.price }} €</h3> <!-- altgr + e pour le sigle euro-->
                            <a {#href="{{ path('app_cart_new',{'id':product.id}) }}"#} class="btn btn-outline-success">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}