<nav class="navbar navbar-expand-lg btn btn-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('app_home_page')}}">StyleBoutik</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="{{path('app_home_page')}}"> Accueil </a>
                </li> 
            
                {% if categories is defined %}

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="{{path('app_allCategories')}}" data-bs-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>

                        <ul class="dropdown-menu">

                            {% for category in categories %}
                                <li><a class="dropdown-item" href="{{path('app_allCategories')}}"> {{ category.name }}</a></li>

                                {% for subCategory in category.subCategories %}
                                     <li><a class="dropdown-item" href="{{ path('app_home_product_filter', {'id':subCategory.id} )}}">{{ subCategory.name }}</a></li>
                                 {% endfor %}

                                <li><hr class="dropdown-divider"></li>{# Juste pour mettre les petites lignes de séparation #}
                            {% endfor %}

                        </ul>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>

                    <ul class="dropdown-menu">
    
                        <li><a class="dropdown-item" href="{{path('app_allCategories')}}">Les catégories </a></li>
                        <li><a class="dropdown-item" href="{{path('app_category_new')}}">Ajouter une catégorie</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{{path('app_sub_category_index')}}">Sous-catégories</a></li>
                        <li><a class="dropdown-item" href="#">Ajouter une sous-catégorie</a></li>
                        <li><hr class="dropdown-divider"></li> 

                        <li><a class="dropdown-item" href="{{path('app_product_index')}}">Les produits</a></li>
                        <li><a class="dropdown-item" href="{{path('app_product_new')}}">Ajouter un produit</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{{path('app_user')}}">Utilisateurs</a></li>  
                        <li><hr class="dropdown-divider"></li> 

                        <li><a class="dropdown-item" href="{{path('app_cart')}}">Mon panier</a></li>
                        <li><a class="dropdown-item" href="{{path('app_order')}}">Faire une commande</a></li>
                        <li><hr class="dropdown-divider"></li>  
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'is-completed'}) }}">Historique des commandes</a></li>           

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_logout') }} " class='nav-link'>Se déconnecter</a>
                </li>  

                {% endif %}

                {# {% if is_granted('ROLE_EDITOR') %} #}

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Commandes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'is-completed'}) }}">Commandes livrées</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'no_delivery'}) }}">Commandes non livrées</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'pay-on-stripe-not-delivered'}) }}">Commandes payées en ligne non livrées</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'pay-on-stripe-is-delivered'}) }}">Commandes payées en ligne livrées</a></li>
                        </ul>
                    </li>
                
                {# {% endif %} #}

                {% if app.user == false %}
                    <li class="nav-item">
                        <a href="{{ path('app_register') }} " class='nav-link active'>S'inscrire</a>
                    </li> 
                    <li class="nav-item">
                        <a href="{{ path('app_login') }} " class='nav-link active'>Se connecter</a>
                    </li> 
                {% endif %}






                {# <li class="nav-item">
                    <a class="nav-link active" href="{{path('app_login')}}">Se connecter
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('app_logout')}}"> Déconnexion
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{path('app_register')}}">S'inscrire
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li> #}
                
                
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>