{# layouts/pagination_template.html.twig — Template de pagination KnpPaginator #}
<nav>
    <ul class="pagination">

        {# Bouton Précédent #}
        {% if previous is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
        {% else %}
            <li class="disabled"><span><i class="fas fa-chevron-left"></i></span></li>
        {% endif %}

        {# Pages numérotées #}
        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active"><span>{{ page }}</span></li>
            {% endif %}
        {% endfor %}

        {# Bouton Suivant #}
        {% if next is defined %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        {% else %}
            <li class="disabled"><span><i class="fas fa-chevron-right"></i></span></li>
        {% endif %}

    </ul>
</nav>