{% extends 'base.html.twig' %}

{% block title %} Commandes {% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-4 mb-5 text-center">Les commandes</h1>
    {% for order in orders %}
        <h2>Commande n° {{ order.id }}</h2>

        <h5 class='text-primary'> Identification de l'utilisateur : {{ order.firstName }}</h5>
        <table class='table'> {# table-bordered border-primary#}
            <thead>    
                <tr class="table-primary">
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Téléphone</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <th scope="row" >{{order.firstName}}</th> 
                    <td>{{order.firstName}}</td>
                    <td>{{order.lastName}}</td>
                    <td>{{order.adress}}</td>
                    <td>{{order.city.name}}</td>
                </tr>
            </tbody>
        </table>

        <h5 class='text-primary'> Corps de la commande</h5>

        <table class='table'> {# table-bordered border-primary#}
            <thead>    
                <tr class="table-primary">
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Prix du produit</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix total</th>
                </tr>
            </thead> 
            <tbody>
                {% for product in order.orderedProducts %}
                    <tr>
                        <th scope="row">{{product.product.name}}</th> 
                        <td>{{product.product.price}} € </td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.product.price * product.quantity}} € </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <h5> Frais de livraison : {{ order.city.shippingCost}} €</h5>
        <h5 class='mb-5'> Total à payer : {{ order.totalPrice}} €</h5>
    {% endfor %}  
</div>
{% endblock %}