{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
    
        <h1 class="mt-4 mb-5">Liste des utilisateurs</h1>

        {% include 'layouts/flash_message.html.twig' %}

        <table class='table'> {# table-bordered border-primary#}

            <thead>    
                <tr class="table-primary">
                    <th scope="col">id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead> 

            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row" >{{user.id}}</th> 

                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>
                            {{user.roles|join(' et ') }} {# C'est la méthode optimale mais on peut aussi utilisé une boucle for comme en bas #}

                            {# {% for role in user.roles %}
                                {{role}}
                            {% endfor %} #}

                        </td>
                        <td>
                             {% if ('ROLE_ADMIN' in user.roles) == false %}
                                <a {#href="{{ path('app_update_form', {'id' : data.id})}}"#} class="btn btn-primary" >Modifier</a> 
                                <a onclick= "return confirm('Voulez vous vraiment affecter ce rôle à ce user ?')" class="btn btn-outline-primary" href="{{ path('app_user_to_editor', {'id': user.id}) }}"> Ajouter le rôle éditeur </a>
                                <a  href="{{ path('app_user_remove_editor_role', {'id' : user.id})}}" class="btn btn-info">Supprimer le role éditeur</a>
                                <a  href="{{ path('app_user_remove', {'id' : user.id})}}" class="btn btn-primary">Supprimer le user</a>
                            {% else %}
                                <a  {#href="{{ path('delete', {'id' : user.id})}}"#} class="btn btn-success col-md-11">Je suis admin</a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}